*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(224, 171, 47);
color: #61122F;
}
body{
	background-color: #61122F;
	color: rgb(255, 255, 255);
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

#hh {
	color: black;
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;
color: #61122F;	
}